# Version restrictions needed to keep it working with Python 2 are marked Py2
# Once Py2 support is droped all frozen indirect dependencies could be dropped

pymongo<3 # using old api, indirect flask-pymongo
#pymongo<4 # Py2, indirect flask-pymongo
redis<4 # Py2, indirect rq
rq<1.40 # Py2, indirect amoniak
contextlib2<21 # Py2, indirect by many libs
pyparsing<3 # Py2, indirect packaging
packaging<21 # Py2, indirect importlib-metadata, zipp
zipp<2 # Py2, indirect importlib-metadata
configparser<5 # Py2, indirect importlib-metadata
importlib-metadata<3 # Py2, indirect pytest
marshmallow==2.0.0rc2 # 'Select' dropped in favor of 'OneOf', indirect empowering
#marshmallow<3 # Py2, indirect empowering
arrow<1 # Py2, indirect empowering
click<8 # Py2, indirect pytest, flask
MarkupSafe<2 # Py2, indirect jinja2 <- flask
coverage<6 # Py2, indirect pytest-cov

mock<4 # Py2
pytest<5 # Py2
pytest-cov<3 # Py2
Flask<2 # Py2
flask-pymongo<2 # further versions do not support pymongo<3
empowering
amoniak
flask-restful>=0.3.1,<0.4.0
raven<5.2.0
blinker
flask-login<0.3.0
flask-cors
pytest
mock

