pymongo<3 # using old api
#pymongo<4 # Py2, indirect
importlib-metadata<3 # Py2, indirect pytest
zipp<2 # Py2, indirect importlib-metadata
configparser<5 # Py2, indirect importlib-metadata
marshmallow<3 # Py2, indirect empowering
arrow<1 # Py2, indirect empowering
click<8 # Py2, indirect pytest, flask
pyparsing<3 # Py2, indirect ???
MarkupSafe<2 # Py2, indirect jinja2 <- flask
pytest<7 # Py2
Flask<2 # Py2
flask-pymongo<2 # further versions do not support pymongo<3
empowering
amoniak
flask-restful>=0.3.1,<0.4.0
raven<5.2.0
blinker
flask-login<0.3.0
flask-cors
pytest
mock

